:root {
  --dark-blue-300: #0A3871;
  --light-blue-100: #F3F5FC;
  --grey-500: #343A40;
  --grey-400: #495057;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #F5F5F5;
  color: #464646;
  font-family: "Raleway", Sans-Serif;
}
h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 22.83px;
}
h4 {
  font-size: 16px;
  line-height: 18.78px;
}
button, a {
  cursor: pointer;
}
header {
  z-index: 1;
  top: 0;
  position: fixed;
  background-color: rgb(245,245,245, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 2px #F3F5FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 16px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
}
.logo i {
  color: #2A7AE4;
  animation: girando 2s linear infinite;
}

#menu-btn-open, #menu-btn-close {
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  background-color: #2A7AE4;
  color: #FFF;
  font-size: 16px;
}
#menu-btn-open:hover, #menu-btn-close:hover {
  opacity: 0.9;
}
.menu-div {
  z-index: 1;
  top: 0;
  right: 0;
  position: fixed;
  width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #2A7AE4;
  gap: 8px;
  animation: menuOpen 0.3s forwards;
}
.menu-div > span {
  display: flex;
  justify-content: end;
}
#menu-btn-close {
  background-color: #FFF;
  color: #2A7AE4;
}
.menu-div > a {
  font-family: "Raleway", Sans-Serif;
  font-weight: 500;
  color: #FFF;
}

.hero-section {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 16px;
}
.div-img-profile {
  width: 100%;
}
.img-profile {
  width: 98px;
  height: 98px;
  border-radius: 100%;
}
.div-infor {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.div-infor p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.44px;
}
.div-links {
  display: flex;
  align-items: center;
  gap: 8px;
}
.div-links a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: #464646;
  cursor: pointer;
}

.about-section {
  width: 100%;
  background-color: #EAF2FD;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-section p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
}

.skills-section {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
}
.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.div-skill {
  background-color: #FFF;
  width: 156px;
  height: 118px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.div-skill i {
  color: #2A7AE4;
  font-size: 32px;
}

.formacao-section {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: #EAF2FD;
}
.formacao-section h2 {
  text-align: center;
}
.formacao-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.formacao-div {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.img-div {
  width: 100%;
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #FFF;
}
.img-div img {
  height: 64px;
  width: 64px;
}
.formacao-div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.44px;
}

.projetos-section {
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  
  gap: 16px;
}
.projetos-section h2 {
  text-align: center;
}
.projetos-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}
.projeto-div {
  max-width: 592px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.projeto-div img {
  width: 100%;
  max-height: 320px;
  border-radius: 8px;
}
.projeto-infor-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.projeto-infor-div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.44px;
}
.projeto-links-div {
  display: flex;
  gap: 16px;
}
.projeto-links-div a {
  text-decoration: none;
  padding: 12px 16px;
  border-radius: 8px;
  text-align: center;
  font-family: "Raleway", Sans-Serif;
  font-weight: 600;
  font-size: 14px;
}
.projeto-link-repo {
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}
.projeto-link-demo {
  background-color: #2A7AE4;
  color: #FFF;
}

.contato-section { 
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #EAF2FD;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contato-topo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contato-topo > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.78px;
}

#btn-submit {
  max-width: 180px;
  padding: 12px 16px 12px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 4px;
  background-color: #2A7AE4;
  text-align: center;
  font-family: "Raleway", Sans-Serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFF;
}

footer {
  padding: 32px 0px 32px 0px;
  background-color: #FFF;
  text-align: center;
  font-size: 16px;
}

/*Animações e outras lógicas*/
@keyframes girando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes menuOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu-div {
  display: none;
}